    <!-- Navbar -->
    <app-header (inputSearch)="onSearchSubmitted($event)" (elementCreated)="onElementCreated($event)"></app-header>
    <!-- End Navbar -->

    <!-- Main -->
    <main id="main">
      <!-- Carousel -->
      <app-carrossel (elementCreated)="onElementCreated($event)"></app-carrossel>
      <!-- End Carousel -->

      <!-- Features -->
      <app-destaques [featureData]="data.features" (elementCreated)="onElementCreated($event)"></app-destaques>
      <!-- End Features -->

      <!-- About -->
      <app-sobre [aboutData]="data.about" (elementCreated)="onElementCreated($event)"></app-sobre>
      <!-- End About -->

      <!-- Address -->
      <app-endereco [addressData]="data.address" (getAddressData)="onGetAddressData($event)" (elementCreated)="onElementCreated($event)"></app-endereco>
      <!-- End Address -->

      <!-- Contact -->
      <app-contato (sendForm)="onContactFormSumitted($event)" (elementCreated)="onElementCreated($event)"></app-contato>
      <!-- End Contact -->

      <div class="btn-top">
        <a class="btn btn-link" href="#main">
          <img src="./assets/images/seta-para-cima.png" alt="...">
        </a>
      </div>

    </main>
    <!-- End Main -->
    <app-footer (elementCreated)="onElementCreated($event)"></app-footer>
    <!-- Footer -->

